<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <title>i turn dreams into software</title>
    <link rel="stylesheet" href="http://<%= env["HTTP_HOST"] %>/stylesheets/screen.css" type="text/css" />
    <link rel="stylesheet" href="http://<%= env["HTTP_HOST"] %>/stylesheets/iphone.css" type="text/css" media="only screen and (max-device-width: 480px)" />
    <meta name="viewport" content="width=320, initial-scale=1.0, user-scalable=no" />
    <script>var _gaq=_gaq || [];_gaq.push(['_setAccount','UA-5609322-4']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);})();</script>
    <!-- 
      View source code at GitHub: http://github.com/samsoffes/iturndreamsintosoftware.com 
      Best viewed in a WebKit browser (like Safari 4) for all of the CSS goodness
    -->
  </head>

  <body>
    <div id="border"></div>
    <div id="container">
      <h1><a href="http://<%= env["HTTP_HOST"] %>/">I turn dreams into software</a></h1>
      <%= yield %>
    </div>
    <script type="text/javascript" src="http://<%= env["HTTP_HOST"] %>/javascripts/iphone.js"></script>
  </body>
</html>
